<div class="{{col_class}} " style="padding:3px; height: {{component.data.settings.height}}px; ">
    <div style="height: 100%;width: 100%; padding:4px; overflow-y: scroll;background-color: #fafbfc" class="border round">
        <div><b>{{component.title}}</b></div>
        <table class="table">
            {%if component.data.settings.displayheader %}
            <thead>
                <tr>
                    {% if component.data.settings.rowno%}<th scope="col">#</th> {%endif%}
                    {% for col in component.data.columns%}
                    <th scope="col">{{col}}</th>
                    {% endfor %}
                </tr>
            </thead>
            {%endif%}
            <tbody>
                {% for row in component.data.rows %}
                <tr>
                    {% if component.data.settings.rowno%}<th scope="row">{{loop.index}}</th> {% endif %}
                    {% for cell in row%}
                    <td>{{cell}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {%if component.data.settings.overflow %}
            <div>{{component.data.settings.knowmoretext}}</div>
        {%endif%}
    </div>

</div>