<div class="{{col_class}}" style="padding:3px; height: 200px; overflow-y: scroll;">
    <div style="height: 100%;width: 100%; padding:4px;background-color: #fafbfc" class="border rounded">
        <div><b>{{component.title}}</b></div>
        <table class="table">
            <thead>
                <tr>
                    {% if component.data.settings.rowno%}<th scope="col">#</th> {%endif%}
                    {% for col in component.data.columns%}
                    <th scope="col">{{col}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in component.data.rows %}
                <tr>
                    {% if component.data.settings.rowno%}<th scope="row">{{loop.index}}</th> {% endif %}
                    {% for cell in row%}
                    <td>{{cell}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>